<div class="bb bw1 pb2 mb4">
    <ul class="pl0">
        <li class="dib list-unstyled mr1">
            <a class="bg-black hover-bg-blue white pa2 no-underline dib"
               href="{{ path('admin_section_new', {'sectionCollection': sectionCollection.id, 'type': 'text-block'}) }}"
            >Add Text Block</a>
        </li>
        <li class="dib list-unstyled mr1">
            <a class="bg-black hover-bg-blue white pa2 no-underline dib"
               href="{{ path('admin_section_new', {'sectionCollection': sectionCollection.id, 'type': 'quote-block'}) }}"
            >Add Quote Block</a>
        </li>
        <li class="dib list-unstyled mr1">
            <a class="bg-black hover-bg-blue white pa2 no-underline dib"
               href="{{ path('admin_section_new', {'sectionCollection': sectionCollection.id, 'type': 'image-block'}) }}"
            >Add Image Block</a>
        </li>
        <li class="dib list-unstyled mr1">
            <a class="bg-black hover-bg-blue white pa2 no-underline dib"
               href="{{ path('admin_section_new', {'sectionCollection': sectionCollection.id, 'type': 'section-collection'}) }}"
            >Add Section Collection</a>
        </li>
    </ul>
</div>
