{% extends 'base.html.twig' %}

{% block body %}
    <h1>Class Table Inheritance</h1>
    <a class="bg-black hover-bg-blue white pa2 no-underline dib"
       href="{{ path('admin_archive_list') }}"
    >Archive</a>
{% endblock %}
