{% extends "base.html.twig" %}

{% block body %}
    {# ToDo: Make this a page reference to enable updating meta #}
    <h1>Archive List</h1>
    {% for archive in archives %}
        <div class="bb bw1 pb4 mb4">
            <h2>{{ archive.title }}</h2>
            <a class="bg-black hover-bg-blue white pa2 no-underline"
               href="{{ path('public_article_list', {'archive': archive.id}) }}"
            >View Archive</a>
        </div>
    {% endfor %}
{% endblock %}
