{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articles</h1>
    <div class="bb bw1 pb4 mb4">
        <a class="bg-black hover-bg-blue white pa2 no-underline"
           href="{{ path('admin_article_new') }}"
        >Create Article</a>
    </div>
    {% for article in articles %}
        <div class="bb bw1 pb4 mb4">
            <h2>{{ article.title }}</h2>
            <a class="bg-black hover-bg-blue white pa2 no-underline bn"
               href="{{ path('admin_article_show', {'article': article.id}) }}"
            >View Article</a>
        </div>
    {% endfor %}
{% endblock %}
