{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articles</h1>
    {% for article in articles %}
        <div class="bb bw1 pb4 mb4">
            <h2>{{ article.title }}</h2>
            <a class="bg-black hover-bg-blue white pa2 no-underline"
               href="{{ path('article_show', {'id': article.id}) }}"
            >View Article</a>
        </div>
    {% endfor %}
    <a class="bg-black hover-bg-blue white pa2 no-underline"
       href="{{ path('article_new') }}"
    >Create Article</a>
{% endblock %}
